#calender {
  table {
    height: 400px;
    font-size: 20px;
  }
}
.eventStyle {
  background-color: #08b454 !important;
  padding: 3px;
  max-width: 100px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.dateInput {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
