#calender {
  table {
    min-height: 400px;
    font-size: 20px;
  }
}
.eventStyle {
  display: flex;
  flex-direction: column;
  background-color: #91f6a9;
  padding: 2px;
  max-width: 100px;
  border-radius: 5px;
  margin-bottom: 3px;
  font-size: small;
}

.dateInput {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

#month {
  border: none;
  font-size: 30px;
  padding-right: 20px;
}
#year {
  border: none;
  font-size: 30px;
  padding-right: 10px;
}

select {
  -webkit-appearance: none;
}
select:focus {
  outline: none;
  border-color: transparent;
}

.material-symbols-outlined {
  font-size:small;
  padding-top: 2px;
}
.timer{
  display:flex;
  align-items: center;
}
/* .hidden{
  display: none;
} */
